# Git files
.git
.gitignore

# Docker specific files
.dockerignore
Dockerfile*

# Python virtual environment folders
.venv
env/
venv/

# Python cache files
__pycache__/
*.py[cod] # .pyc, .pyo, .pyd

# Python distribution / installation artifacts
dist/
build/
*.egg-info/
*.egg
wheels/
pip-wheel-metadata/
*.tar.gz
*.whl

# IDE / Editor configuration folders
.vscode/
.idea/
*.sublime-*

# OS-specific files
.DS_Store
**/.DS_Store
Thumbs.db

# Test directories and artifacts
tests/
.pytest_cache/
htmlcov/
.coverage*

# Secrets / Environment files
.env
.env.*
!.env.example

# Documentation / Misc
README.md
*.md
docs/
notebooks/

# Logs
logs/
*.log
